---
title: ProspectIQ | Check Your Email

pageClassName: p-check-your-email
---
extends shared/_layout

block content
  main.main.main--start(class!= pageClassName)

    include components/check-your-email/check-your-email
