---
title: ProspectIQ | Thank You

pageClassName: p-thank-you
additionalClassName: p-thank-you-2
---
extends shared/_layout

block content
  main.main.main--start(class!= pageClassName)

    include components/thank-you/thank-you
