-
  const project = 'ProspectIQ';
  const pages = [{
      name: 'Sudscribe',
      href: 'index.html',
      progress: '100'
    }, {
      name: 'Sign In',
      href: 'sign-in.html',
      progress: '100'
    }, {
      name: 'Sign Up',
      href: 'sign-up.html',
      progress: '100'
    }, {
      name: 'Check Your Email',
      href: 'check-your-email.html',
      progress: '100'
    }, {
      name: 'Thank You',
      href: 'thank-you.html',
      progress: '100'
    }, {
      name: 'Thank You v2',
      href: 'thank-you-2.html',
      progress: '100'
    }, {
      name: 'Statistics',
      href: 'statistics.html',
      progress: '100'
    }
  ];
